@{
    ViewData["Title"] = "Home Page";
}

<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

        <img src="~/assets/img/hero-bg.jpg" alt="" data-aos="fade-in" class="aos-init aos-animate">

        <div class="container position-relative">

            <div class="welcome position-relative aos-init aos-animate" data-aos="fade-down" data-aos-delay="100">
                <h2>Welcome to Our Website</h2>
                <!-- <p>We are team of talented designers making websites with Bootstrap</p>-->
            </div><!-- End Welcome -->

            <div class="content row gy-4">
                <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="why-box aos-init aos-animate" data-aos="zoom-out" data-aos-delay="200">
                        <h3>Why Choose Our Services?</h3>
                        <p>
                            It is important to do mathematical operations such as addition, subtraction, division or to find a second, to find the largest entered number, the smallest entered number,   to find the price from the quantity,
                            It is  also   important logain , navigate between pages, know what your specialty is and your phone number and a simple explanation of your specialty. I hope you like our page and benefit from it and tell your friends about it
                        </p>
                        <div class="text-center">
                            <!-- <a href="#" class="more-btn"><span>Learn More</span> <i class="bi bi-chevron-right"></i></a> -->
                        </div>
                    </div>
                </div><!-- End Why Box -->

                <div class="col-lg-8 d-flex align-items-stretch">
                    <div class="d-flex flex-column justify-content-center">
                        <div class="row gy-4">

                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box aos-init aos-animate" data-aos="zoom-out" data-aos-delay="300">
                                    <i class="bi bi-clipboard-data"></i>
                                    <h4>  Save you the search </h4>
                                    <p>By searching for a site that has something like: the second min,
                                        the largest or smallest number of entries.</p>
                                </div>
                            </div><!-- End Icon Box -->

                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box aos-init aos-animate" data-aos="zoom-out" data-aos-delay="400">
                                    <i class="bi bi-gem"></i>
                                    <h4>Saves time</h4>
                                    <p>Through this site, tasks can be completed more quickly and efficiently,
                                        saving time and effort.</p>
                                </div>
                            </div><!-- End Icon Box -->

                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box aos-init aos-animate" data-aos="zoom-out" data-aos-delay="500">
                                    <i class="bi bi-inboxes"></i>
                                    <h4>Requires login</h4>
                                    <p>Logging in helps protect users' personal data and information. 
                                        It ensures that access to the system is limited to authorized persons only.</p>
                                </div>
                            </div><!-- End Icon Box -->

                        </div>
                    </div>
                </div>
            </div><!-- End  Content-->

        </div>

    </section><!-- /Hero Section -->
    <!-- About Section -->
    

    <!-- Services Section -->
    <section id="services" class="services section light-background">

        <!-- Section Title -->
        <div class="container section-title aos-init" data-aos="fade-up">
            <h2>Services</h2>
            <p>Services available on this website</p>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-4 col-md-6 aos-init" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-item  position-relative">
                        <div class="icon">
                            <i class="bi bi-activity"></i>
                        </div>
                        <a href="https://localhost:7189/test/form1" class="stretched-link">
                            <h3>Max,Min,Avg</h3>
                        </a>
                        <p> If you want to know the largest number, smallest number or average  </p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6 aos-init" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-broadcast"></i>
                        </div>
                        <a href="https://localhost:7189/test/form2" class="stretched-link">
                            <h3>Calculate</h3>
                        </a>
                             <p> If you want to add, subtract or divide two numbers</p>                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6 aos-init" data-aos="fade-up" data-aos-delay="300">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-easel"></i>
                        </div>
                        <a href="https://localhost:7189/test/form3" class="stretched-link">
                            <h3> Secound Min</h3>
                        </a>
                        <p>If you want to know the second number of the three numbers you entered.</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6 aos-init" data-aos="fade-up" data-aos-delay="400">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-bounding-box-circles"></i>
                        </div>
                        <a href="https://localhost:7189/test/form5" class="stretched-link">
                            <h3>Max , Avg </h3>
                        </a>
                        <p> If you want to know the largest number, smallest number or average.
                            It is similar to the previous form, but the difference is that you can enter 3 numbers and the result will be in another form.
                        </p>
                       
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6 aos-init" data-aos="fade-up" data-aos-delay="500">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-calendar4-week"></i>
                        </div>
                        <a href="https://localhost:7189/test/form7" class="stretched-link">
                            <h3>Product Name</h3>
                        </a>
                        <p> You can enter the product name, price and quantity and the result will appear in another form with the name of the selected operation. </p>

                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6 aos-init" data-aos="fade-up" data-aos-delay="600">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-chat-square-text"></i>
                        </div>
                        <a href="https://localhost:7189/test/form9" class="stretched-link">
                            <h3>Transfering </h3>
                        </a>
                        <p>You will enter your name and the name of the product and we will move to the next form ,asking you to enter the price and quantity. On the other page, your name, the name of the product, the price,
                            the quantity and the total will appear.</p>
                    </div>
                </div><!-- End Service Item -->

            </div>

        </div>

    </section><!-- /Services Section -->
    <!-- Clients Section -->
    <section id="clients" class="clients section">

        <div class="container aos-init" data-aos="fade-up" data-aos-delay="100">

            <div class="swiper init-swiper swiper-initialized swiper-horizontal swiper-backface-hidden">
                <script type="application/json" class="swiper-config">
                    {
                      "loop": true,
                      "speed": 600,
                      "autoplay": {
                        "delay": 5000
                      },
                      "slidesPerView": "auto",
                      "pagination": {
                        "el": ".swiper-pagination",
                        "type": "bullets",
                        "clickable": true
                      },
                      "breakpoints": {
                        "320": {
                          "slidesPerView": 2,
                          "spaceBetween": 40
                        },
                        "480": {
                          "slidesPerView": 3,
                          "spaceBetween": 60
                        },
                        "640": {
                          "slidesPerView": 4,
                          "spaceBetween": 80
                        },
                        "992": {
                          "slidesPerView": 6,
                          "spaceBetween": 120
                        }
                      }
                    }
                </script>
                <div class="swiper-wrapper align-items-center" id="swiper-wrapper-710ddda9bcd8354a" aria-live="off" style="transition-duration: 0ms; transform: translate3d(-582px, 0px, 0px); transition-delay: 0ms;">


                    <div class="swiper-slide" role="group" aria-label="1 / 8" style="width: 120px; margin-right: 100px;" data-swiper-slide-index="0">
                        <img src="~/assets/img/logo2.png" class="img-fluid" alt="">
                    </div>
                    <div class="swiper-slide" role="group" aria-label="2 / 8" data-swiper-slide-index="1" style="width: 114px; margin-right: 80px;">
                        <img src="~/assets/img/OIP.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="swiper-slide swiper-slide-prev" role="group" aria-label="3 / 8" data-swiper-slide-index="2" style="width: 114px; margin-right: 80px;">
                        <img src="~/assets/img/asp.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="swiper-slide swiper-slide-active" role="group" aria-label="4 / 8" data-swiper-slide-index="3" style="width: 114px; margin-right: 80px;">
                        <img src="~/assets/img/shahd.png" class="img-fluid" alt="">
                    </div>
                    <div class="swiper-slide swiper-slide-next" role="group" aria-label="5 / 8" data-swiper-slide-index="4" style="width: 114px; margin-right: 80px;">
                        <img src="~/assets/img/logo2.png" class="img-fluid" alt="">
                    </div>
                    <div class="swiper-slide" role="group" aria-label="6 / 8" data-swiper-slide-index="5" style="width: 114px; margin-right: 80px;">
                        <img src="~/assets/img/OIP.jpg class="img-fluid" alt="">
                    </div>
                    <div class="swiper-slide" role="group" aria-label="7 / 8" data-swiper-slide-index="6" style="width: 114px; margin-right: 80px;">
                        <img src="~/assets/img/asp.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="swiper-slide" role="group" aria-label="8 / 8" data-swiper-slide-index="7" style="width: 114px; margin-right: 80px;">
                        <img src="~/assets/img/shahd.png" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 4" aria-current="true"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 5"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 6"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 7"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 8"></span></div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>

        </div>

    </section><!-- /Clients Section -->
    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section dark-background">

        <img src="~/assets/img/testimonials-bg.jpg" class="testimonials-bg" alt="">

        <div class="container aos-init" data-aos="fade-up" data-aos-delay="100">

            <div class="swiper init-swiper swiper-initialized swiper-horizontal swiper-backface-hidden">
                <script type="application/json" class="swiper-config">
                    {
                      "loop": true,
                      "speed": 600,
                      "autoplay": {
                        "delay": 5000
                      },
                      "slidesPerView": "auto",
                      "pagination": {
                        "el": ".swiper-pagination",
                        "type": "bullets",
                        "clickable": true
                      }
                    }
                </script>
                <div class="swiper-wrapper" id="swiper-wrapper-bd326be9293e73a0" aria-live="off" style="transition-duration: 0ms; transform: translate3d(-2088px, 0px, 0px); transition-delay: 0ms;">

                    <div class="swiper-slide" role="group" aria-label="1 / 5" data-swiper-slide-index="0">
                        <div class="testimonial-item">
                            <img src="~/assets/img/لقطة شاشة 2024-12-05 110202.png" class="testimonial-img" alt="">
                            <h3>Khalil Awad</h3>
                            <h4> Leader ASP </h4>
                            <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                            </div>
                            <p>
                                <i class="bi bi-quote quote-icon-left"></i>
                                <span>The best programming doctor you can benefit from a lot, he has several certificates.
                                    If you are interested in knowing more about the doctor, scroll down to the team members.</span>
                                <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide" role="group" aria-label="2 / 5" data-swiper-slide-index="1">
                        <div class="testimonial-item">
                            <img src="~/assets/img/Image shahd.jpeg" class="testimonial-img" alt="">
                            <h3>Shahd Alfawaz</h3>
                            <h4>Software Engineering Student</h4>
                            <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                            </div>
                            <p>
                                <i class="bi bi-quote quote-icon-left"></i>
                                <span> A third-year software engineering student, she created the website and hopes you like it❤️.</span>
                                <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide swiper-slide-prev" role="group" aria-label="3 / 5" data-swiper-slide-index="2">
                        <div class="testimonial-item">
                            <img src="~/assets/img/لقطة شاشة 2024-12-05 110202.png" class="testimonial-img" alt="">
                            <h3>Khalil Awad</h3>
                            <h4> Leader ASP</h4>
                            <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                            </div>
                            <p>
                                <i class="bi bi-quote quote-icon-left"></i>
                                <span>
                                    The best programming doctor you can benefit from a lot, he has several certificates.
                                    If you are interested in knowing more about the doctor, scroll down to the team members.
                                </span>
                                <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide swiper-slide-active" role="group" aria-label="4 / 5" data-swiper-slide-index="3">
                        <div class="testimonial-item">
                            <img src="~/assets/img/Image shahd.jpeg" class="testimonial-img" alt="">
                            <h3>Shahd Alfawaz</h3>
                            <h4>Software Engineering Student</h4>
                            <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                            </div>
                            <p>
                                <i class="bi bi-quote quote-icon-left"></i>
                                <span> A third-year software engineering student, she created the website and hopes you like it❤️.</span>
                                <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide swiper-slide-next" role="group" aria-label="5 / 5" data-swiper-slide-index="4">
                        <div class="testimonial-item">
                            <img src="~/assets/img/لقطة شاشة 2024-12-05 110202.png" class="testimonial-img" alt="">
                            <h3>Khalil Awad</h3>
                            <h4> Leader ASP</h4>
                            <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                            </div>
                            <p>
                                <i class="bi bi-quote quote-icon-left"></i>
                                <span>
                                    The best programming doctor you can benefit from a lot, he has several certificates.
                                    If you are interested in knowing more about the doctor, scroll down to the team members.
                                </span>
                                <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                </div>
                <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 4" aria-current="true"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 5"></span></div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>

        </div>

    </section><!-- /Testimonials Section -->
    
    <!-- Team Section -->
    <section id="team" class="team section light-background">

        <!-- Section Title -->
        <div class="container section-title aos-init" data-aos="fade-up">
            <h2>Team</h2>
            <p> 🌸If you need any help, here is the team and you can contact them 🌸.</p>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init" data-aos="fade-up" data-aos-delay="100"  style="margin-left:25%">
                    <div class="team-member">
                        <div class="member-img" style="text-align: center;">
                            <a href="~/assets/Dr.Khalil.pdf" download="">
                                <img src="~/assets/img/Dr.Khalil.png" class="img-fluid" alt="" >
                            </a>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href="Khalil.awad@zuj.com"><i class="bi bi-instagram"></i></a>
                                <a href="https://www.researchgate.net/profile/Khalil-Awad"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Khalil Awad Khalil “Mohammad Saleh”  </h4>
                            <span>Leader ASP 
                                <br /> When you click on the image, a file containing the doctor's information will be downloaded.
                            </span>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init" data-aos="fade-up" data-aos-delay="200" >
                    <div class="team-member">
                        <div class="member-img" style="text-align: center;">
                            <img src="~/assets/img/Image shahd2.jpeg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href="https://www.facebook.com/share/VhQ8MzCmMPQwgY33/"><i class="bi bi-facebook"></i></a>
                                <a href="https://www.instagram.com/shahd.alfawaz.3/profilecard/?igsh=NGFreTYyM3B2cW9q"><i class="bi bi-instagram"></i></a>
                                <a href="https://www.linkedin.com/in/shahd-alfawaz-407403239?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Shahd Alfawaz</h4>
                            <span>Software Engineering Student
                                <br /> You can visit the social media links if you want to know more information.
                            </span>
                        </div>
                    </div>
                </div><!-- End Team Member -->


             

            </div>

        </div>

    </section><!-- /Team Section -->
    
    <!-- Contact Section -->
    <section id="contact" class="contact section">

        <!-- Section Title -->
        <div class="container section-title aos-init" data-aos="fade-up">
            <h2>Contact</h2>
         
        </div><!-- End Section Title -->

        <div class="container aos-init" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4">

                <div class="col-md-6">
                    <div class="info-item d-flex align-items-center aos-init" data-aos="fade-up" data-aos-delay="200">
                        <i class="icon bi bi-geo-alt flex-shrink-0"></i>
                        <div>
                            <h3>Address</h3>
                            <a href="https://www.bing.com/maps?osid=4bbfd237-f470-48a4-91d9-3669c53091e6&cp=31.832303~35.886605&lvl=16&pi=0&imgid=4607cc20-f631-45ed-95f9-e25aba5f446a&v=2&sV=2&form=S00027"
                            <p> st 594,Al Zaytoonah University of Jordan ,Airport Road</p>
                            </a>
                        </div>
                    </div>
                </div><!-- End Info Item -->

                <div class="col-md-6">
                    <div class="info-item d-flex align-items-center aos-init" data-aos="fade-up" data-aos-delay="300">
                        <i class="icon bi bi-telephone flex-shrink-0"></i>
                        <div>
                            <h3>Call Us</h3>
                            <p>(06 429 1511)</p>
                        </div>
                    </div>
                </div><!-- End Info Item -->

                <div class="col-md-6">
                    <div class="info-item d-flex align-items-center aos-init" data-aos="fade-up" data-aos-delay="400">
                        <i class="icon bi bi-envelope flex-shrink-0"></i>
                        <div>
                            <h3>Email Us</h3>
                            <p>https://www.zuj.edu.jo/</p>
                        </div>
                    </div>
                </div><!-- End Info Item -->

                <div class="col-md-6">
                    <div class="info-item d-flex align-items-center aos-init" data-aos="fade-up" data-aos-delay="500">
                        <i class="icon bi bi-share flex-shrink-0"></i>
                        <div>
                            <h3>Social Profiles</h3>
                            <div class="social-links">
                                <a href="#"><i class="bi bi-twitter-x"></i></a>
                                <a href="https://www.facebook.com/share/My9aatCkXw5QNkqY/"><i class="bi bi-facebook"></i></a>
                                <a href="#"><i class="bi bi-instagram"></i></a>
                                <a href="#"><i class="bi bi-skype"></i></a>
                                <a href="#"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!-- End Info Item -->

            </div>

            <form action="forms/contact.php" method="post" class="php-email-form aos-init" data-aos="fade-up" data-aos-delay="600">
                <div class="row gy-4">

                    <div class="col-md-6">
                        <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                    </div>

                    <div class="col-md-6 ">
                        <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                    </div>

                    <div class="col-md-12">
                        <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                    </div>

                    <div class="col-md-12">
                        <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                    </div>

                    <div class="col-md-12 text-center">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>

                        <button type="submit">Send Message</button>
                    </div>

                </div>
            </form><!-- End Contact Form -->

        </div>

    </section><!-- /Contact Section -->

</main>
