




<main class="main">

    <div class="col-md-8 col-lg-6 offset-lg-3 mb-4 mb-lg-0 ">
        <h2 style="text-align:center"> Form 10 </h2>
        
        <p style="text-align:center">Type Price and Count then click Next to Calculate the total and display all information you entered previously</p>
        <form class=" position-relative" method="post">

            <div style="display: flex; align-items: center; width: 100%; padding-top:3%">
                <h5 style="margin-right: 18px; white-space: nowrap;padding-right:2.8%"> Price</h5>
                <input type="text" class="form-control px-2 py-3 bg-transparent mb-3"  name="price" placeholder="0-1000..." style="flex-grow: 1; width: auto;">
            </div>

            <div style="display: flex; align-items: center; width: 100%;">
                <h5 style="margin-right: 18px; white-space: nowrap;padding-right:1.5%"> Count </h5>
                <input type="text" class="form-control px-2 py-3 bg-transparent mb-3" name="count" placeholder="0-1000..." style="flex-grow: 1; width: auto;">
            </div>


            <div style="text-align: center;">
                <input type="submit" name="b1" value="Next" class="btn btn-primary"
                       style="width:150px; height:50px; background:#ff5821;color:#ffffff;border-radius:25px; margin-right:4%;margin-top:4%">



            </div>


        </form>
    </div>
    <br> <br> <br><br><br><br>
    <br>
</main>